*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 .hero{
    width: 100%;
    height: 100vh;
    background-image: url(flou.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    overflow: hidden;
}
.logo{
    width: 150px;
    cursor: pointer;

}
.navbar{
    width: 85%;
    height: 15%;
    display: fleX;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.navbar input[type="submit"]
{
    border: 2px solid #fff;
    outline: none;
    padding: 10px 25px ;
    background: transparent;
    color: #fbfcfd;
    border-radius: 100px;
}
.navbar input[type="submit"]:hover
{
    cursor: pointer;
    background: rgba(228, 223, 202, 0.8);
    color: #000;
 
    
}

 
 

 
 .content {
    color: #fbfcfd ;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
 }
 h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;

 }
 .content input[type="submit"]
{
    border: 2px solid #fff;
    outline: none;
    padding: 10px 25px ;
    background: transparent;
    color: #fbfcfd;
    border-radius: 100px;
}
.content input[type="submit"]:hover
{
    cursor: pointer;
    background: rgba(228, 223, 202, 0.8);
    color: #000;
 }
 .side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #a8a0c0);
    position: absolute;
    right: 0;
    top: 0;
 }
 .menu {
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
 }
 .socials img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
 }
 .socials{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.bubbles img {
    width: 70px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;

}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(2){
    animation-delay: 1.5s;
}
.bubbles img:nth-child(3){
    animation-delay: 4.5s;
    width:42px ;
}
.bubbles img:nth-child(4){
    animation-delay: 0.5s;
    width: 16px;
}
.bubbles img:nth-child(5){
    animation-delay: 2.9s;
    width:35px ;

}
.bubbles img:nth-child(6){
    animation-delay: 5s;
    width: 10px;

}
.bubbles img:nth-child(7){
    animation-delay: 4.5s;
    width: 26px;

}
.container {
    display: flex;
    flex-wrap: wrap;
  }
  